---
layout: default
title: Research
description: 
---

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">
          {% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.teaching__settings.teaching__title }}{% endif %}
        </h1>
        {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
        {% else %}
          <p class="page-description">{{ site.data.settings.teaching__settings.teaching__description }}</p>
        {% endif %}
      </div>

      <h3>Working Papers</h3>
      <ul>
        <li><strong>Soyeon Jeon</strong>, Messi H.J. Lee, Jacob M. Montgomery, Calvin K. Lai. <em>From Faces to Politics: Vision-Language Models
(Sometimes) Link Visual Demographic Characteristics to Ideological Labels</em> Forthcoming at <em>Political Analysis</em></li>
      </ul>

      <h3>Working Papers</h3>
      <ul>
        <li><strong>Soyeon Jeon.</strong> <em>Transforming Political Image Analysis: Vision Language Models as Accessible, Efficient, and High-Performing Tools</em></li>
        <li>Cecilia Y. Sui, <strong>Soyeon Jeon</strong>, Christopher Lucas, Jacob Montgomery, Margit Tavits. <em>Cross-Lingual Transfer for Political Text Analysis: Detecting Populist Rhetoric Across Languages Using Single-Language Fine-Tuning</em></li> Under review, <em>APSR</em></li>
        <li>Messi H.J. Lee, Jacob M. Montgomery, Calvin K. Lai, <strong>Soyeon Jeon</strong>. <em>Visual Cues of Gender and Race are Associated with Stereotyping in Vision-Language Models</em></li>
        <li>Messi H.J. Lee, <strong>Soyeon Jeon.</strong> <em>Token Sampling Uncertainty Does Not Explain Homogeneity Bias in Large Language Models</em></li>
      </ul>

      <h3>Books</h3>
      <ul>
        <li>Kim Eui Young and Lee Hyun Jung. 2019. <em>Cultural and Technical Journal of Citizen Politics...</em> Chapter 5: <em>Realization of People’s Sovereignty through NGOs: Based on the Observation of Participation in the Asian Citizen’s Center for Environment and Health</em>.</li>
        <li>Kim Eui Young and Miura Hiroki. 2019. <em>2019 Civil Politics Yearbook.</em> Editor in Chief.</li>
        <li>Kim Eui Young and Miura Hiroki. 2021. <em>2020 Civil Politics Yearbook.</em> Editor.</li>
        <li>Center for Social Innovation Education & Research. 2021. <em>Campus Impact 2020.</em> Editor.</li>
      </ul>

      <h3>Research Assistant</h3>
      <ul>
        <li>Populist Rhetoric on Social Media and Its Effects on Democracies (NSF Grant 2215008) <em>2023 – 2024</em></li>
        <li>Reimagining Multilateralism and U.S. Foreign Policy (Carnegie grant G-23-600440) <em>2023 – 2024</em></li>
        <li>Interpersonal Pathways to Radicalization & Deradicalization (NSF Grant 0029220) <em>2021</em></li>
        <li>The Korean Voter in the Age of Deepfake: Measuring the Impact of Fake News with Big Data and Experiment (NRF Korea) <em>2022 – 2022</em></li>
        <li>Peace Studies Research Project (Humanities Korea) <em>2020 – 2022</em></li>
        <li>Detecting Manipulation in Election Result Using Machine Learning Technique (NRF Korea) <em>2021 – 2021</em></li>
        <li>Scholarly Content Review (Social Sciences Korea) <em>2020 – 2020</em></li>
        <li>Editor in Chief of Civil Society Research</li>
        <li>(Center for Social Innovation Education & Research, SNU) <em>2019 – 2020</em></li>
        <li>Seoul Community Support Centre Project <em>2019 – 2019</em></li>
      </ul>
    </div>
  </div>
</div>
