<!-- begin conferences section -->
<section class="subscribe section">

  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="subscribe__inner">
          <div class="subscribe__info">
            <h1 class="subscribe__title">Where You’ll <span class="text-span">Find Me</span> Next</h1>
            <div class="subscribe__subtitle"><span id="ityped"></span></div>
          </div>

          <ul class="conference-list">
            <li>
              <strong>Visions in Methodology</strong><br>
              May 28–30, 2026 · Hertie School, Germany
            </li>
            <li>
              <strong>Video Research Institute</strong><br>
              June 14–20, 2026 · Purdue University, Indiana
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</section>
<!-- end conferences section -->
