---
layout: default
title: Teaching
description: 
---

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">
          {% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.teaching__settings.teaching__title }}{% endif %}
        </h1>
        {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
        {% else site.data.settings.teaching__settings.teaching__description %}
          <p class="page-description">{{ site.data.settings.teaching__settings.teaching__description }}</p>
        {% endif %}
      </div>

      <h3>Teaching Experience</h3>
      <ul>
        <li>Seminar in Contemporary Political Science <em>Spring 2026</em></li>
        <li>Python Programming <em>Aug. 2025</em>
        <li>SP2025.L32.Pol Sci.581.A Lab for Quantitative Political Methodology I <em>Spring 2025</em></li>
        <li>R Programming for Beginners – Department of Political Science, WashU <em>Jan. 2024, 2025</em></li>
      </ul>

      <h3>Teaching Assistant</h3>
      <ul>
        <li>SP2026.POLSCI.3008.01 AI, You, and Now: The Stories That Win <em>Spring 2026</em>
        <li>Fall2025.POLSCI.2400.02 Data Science for Politics <em>Fall 2025</em>
        <li>SP2025.L32.PolSci.581.01 Quantitative Political Methodology I <em>Spring 2025</em></li>
        <li>Global Leaders Program: Election System in Korea <em>Winter 2022</em></li>
        <li>054.001_003 Student Directed Education: Value Inquiry <em>Summer 2021 – Fall 2021</em></li>
        <li>M1319.001000_001 Understanding Modern Politics of South and North Korea <em>Summer 2021</em></li>
        <li>054.001_006 Student Directed Education: Undergraduate Independent Study 1 <em>Summer 2021</em></li>
        <li>200.103_001 Principles of Political Science <em>Spring 2021</em></li>
        <li>216A.601_001 Research Methods in Political Science <em>Spring 2021</em></li>
        <li>991.201_001 Selected Topics Seminar 3: Globalization and Media <em>Spring 2021</em></li>
        <li>216A.415_001 Game Theory and Politics <em>Spring 2020</em></li>
        <li>216A.630_001 Public Choice Theory Practice <em>Spring 2020</em></li>
        <li>216A.219_001 Civil Politics <em>Fall 2019</em></li>
        <li>216A.707 Global Civil Society and Global Governance <em>Fall 2019</em></li>
      </ul>
    </div>
  </div>
</div>



<div class="container animate">
  <div class="row">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts offset:0 %}
        {% include article-content.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}

