---
layout: default
title: Teaching
description: 
---

<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">
          {% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.teaching__settings.teaching__title }}{% endif %}
        </h1>
        {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
        {% else site.data.settings.teaching__settings.teaching__description %}
          <p class="page-description">{{ site.data.settings.teaching__settings.teaching__description }}</p>
        {% endif %}
      </div>

      <h3>Teaching Experience</h3>
      <ul>
        <li>Seminar in Contemporary Political Science <em>2026</em></li>
        <li>Python Programming <em>2025</em>
        <li>SP2025.L32.Pol Sci.581.A Lab for Quantitative Political Methodology I <em>2025</em></li>
        <li>R Programming for Beginners<em>2024, 2025</em></li>
      </ul>

      <h3>Teaching Assistant</h3>
      <ul>
        <li>AI, You, and Now: The Stories That Win <em>2026</em>
        <li>Data Science for Politics <em>2025</em>
        <li>Quantitative Political Methodology I <em>2025</em></li>
        <li>Global Leaders Program: Election System in Korea <em>2022</em></li>
        <li>Student Directed Education: Value Inquiry <em>2021</em></li>
        <li>Understanding Modern Politics of South and North Korea <em>2021</em></li>
        <li>Student Directed Education: Undergraduate Independent Study 1 <em>2021</em></li>
        <li>Principles of Political Science <em>2021</em></li>
        <li>Research Methods in Political Science <em>2021</em></li>
        <li>Selected Topics Seminar 3: Globalization and Media <em>2021</em></li>
        <li>Game Theory and Politics <em>2020</em></li>
        <li>Public Choice Theory Practice <em>2020</em></li>
        <li>Civil Politics <em>2019</em></li>
        <li>Global Civil Society and Global Governance <em>2019</em></li>
      </ul>
    </div>
  </div>
</div>



<div class="container animate">
  <div class="row">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts offset:0 %}
        {% include article-content.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}

